@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  line-height: 2rem;
  text-transform: initial;
  letter-spacing: initial;
  color: #212b36;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 10px;
  text-size-adject: 100%;
  text-rending: optimizeLegibility;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  scrollbar-width: thin;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

#modal-container {
  position: absolute;
  top: 0;
  left: 0;
}

#root {
  min-width: 930px;
  min-height: 650px;
  height: 100vh;
}
